@font-face {
  font-family: "Sinkin";
  src: local("Sinkin"),
    url("/assets/fonts/sinkin-sans/SinkinSans-300Light.otf") format("opentype");
  font-weight: 300;
}

@font-face {
  font-family: "Sinkin";
  src: local("Sinkin"),
    url("/assets/fonts/sinkin-sans/SinkinSans-400Regular.otf")
      format("opentype");
  font-weight: 400;
}

@font-face {
  color: #0000003d;
  font-family: "Sinkin";
  src: local("Sinkin"),
    url("/assets/fonts/sinkin-sans/SinkinSans-500Medium.otf") format("opentype");
  font-weight: 500;
}

@font-face {
  font-family: "Sinkin";
  src: local("Sinkin"),
    url("/assets/fonts/sinkin-sans/SinkinSans-600SemiBold.otf")
      format("opentype");
  font-weight: 600;
}

@font-face {
  font-family: "Sinkin";
  src: local("Sinkin"),
    url("/assets/fonts/sinkin-sans/SinkinSans-700Bold.otf") format("opentype");
  font-weight: 700;
}

@font-face {
  font-family: "Sinkin";
  src: local("Sinkin"),
    url("/assets/fonts/sinkin-sans/SinkinSans-800Black.otf") format("opentype");
  font-weight: 800;
}

@font-face {
  font-family: "Sinkin";
  src: local("Sinkin"),
    url("/assets/fonts/sinkin-sans/SinkinSans-800Black.otf") format("truetype");
  font-weight: 800;
}

:root {
  --azul: #010059;
  --laranja: #f58634;
  --cinza: #f2f3f3;
}

::-webkit-scrollbar {
  margin: 5px;
  width: 8px;
  height: 5px;
}
::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 0;
}
::-webkit-scrollbar-thumb {
  background-color: var(--azul);
  border-radius: 0;
}
